@page {
  margin: 0;
  size: A4 portrait;
  /* can use also 'landscape' for orientation */
  margin: 100px 1cm 150px 1cm;
}

html {
  background: #fff;
  font-family: Manrope, sans-serif;
  color: black;
  height: 100%;
}

@page {
  @top-left {
    background: #fbc847;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: #fbc847;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}
@page :blank {
  @top-left {
    background: none;
    content: "";
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
@page no-chapter {
  @top-left {
    background: none;
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}

.header {
  margin-bottom: 24px;
}

.split {
  width: 100%;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.ingredients {
  flex-grow: 1;
}

.steps {
  flex-grow: 2;
}
